version: 2.1

orbs:
  node: circleci/node@7.2.1

jobs:
  checkoutEtTests:
    executor: node/default
    steps:
      - checkout
      - run:
          command: |
            git clone https://github.com/emimeti3/labo1_backend.git backend
      - run:
          command: |
            cd backend
            npm install -g npm@latest
      - run:
          command: |
            cd backend
            npm run test

  integrationFrontEnd:
    executor: node/default
    steps:
      - run:
          command: |
            git clone https://github.com/emimeti3/labo1_backend.git backend
            git clone https://github.com/emimeti3/labo1_frontend.git frontend
      - run:
          command: |
            cd frontend
            npm install
      - run:
          command: |
            cd frontend
            npm run build
      - run:
          command: |
            mkdir -p backend/public
            cp -R frontend/build/* backend/public/
      - persist_to_workspace:
          root: .
          paths:
            - backend

  deploiement:
    executor: node/default
    steps:
      - attach_workspace:
          at: .
      - run:
          command: |
            cd backend
            ls -Rl

workflows:
  build:
    jobs:
      - checkoutEtTests
      - integrationFrontEnd:
          requires:
            - checkoutEtTests
      - deploiement:
          requires:
            - integrationFrontEnd
